:host {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  left: 0;
}
.header {
  min-height: 50px;
  background-color: #505D6A;
  color: #fff;
}
.header .header-line {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.header a {
  color: #fff;
}

:host.notLogged {
  left: 0!important;
  width: 100%!important;
}