<div class="header flex">
  <div class="container flex full-width">
    <div class="row flex vertical-align full-width">
      <div class="col-md-6">
        <a routerLink="/home">Home</a>
        <a *ngIf="isNotLogged | async" routerLink="/login">| Login</a>
      </div>
      <div class="col-md-4">
        <span *ngIf="loading | async" class="k-icon k-i-loading" style="font-size: 30px;"></span>
      </div>
      <div class="col-md-2">
        <div class="pull-right">
          <a routerLink="/layout/profile"><span>{{ (userName | async) }}</span></a>
          <button *ngIf="!(isNotLogged | async)" kendoButton (click)="store.dispatch({type: 'LOGOUT'})">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <div class="header-line"></div>
</div>
