.router-content {
  width: 96.3%;
}
.loading {
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.content {
  padding: 5px;
  position: relative;
  display: block;
}
